body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
}

.game-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.player {
  margin: 0 30px;
}

.choice {
  width: 100px;
  height: 100px;
  background-color: #de3030;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.result-container {
  margin-top: 30px;
}

#result {
  color: #333;
}

.options {
  margin-top: 30px;
}

.option {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #3ff43f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.option:hover {
  background-color: #555;
}
